@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body{
    background-color: white;
    box-sizing: border-box;
}

.container{
    font-family: 'Roboto Condensed', sans-serif;
}

/* HEADER */

.header{
    width: 100%;
    padding: 0;
    margin: 0;
}

.header-wrapper{
    text-align: center;
    background-color: #595959;
    border-radius: 20px;
    padding: 0;
    display: flex;
    justify-content: center;
}

.header-element{
    list-style: none;
    /*margin: 20px;*/
    padding: 20px;
    width: auto;
}

.header-element:hover{
    background-color: #3e3e3e;
    border-radius: 20px;
}

.header-wrapper a{
    text-decoration: none;
    color: white;
}

/* MAIN CONTENT */
main{
    height: 100vh;
}

.main-wrapper{
    margin: auto;
    max-width: 700px;
    background-color: #cfcfcf;
}

.main-header{
    padding: 10px;
    text-align: center;
}

.main-header a{
    text-decoration: underline;
    color: black;
    padding: 10px;
}

.form-main textarea{
    max-width: 50%;
}

.form-element{
    margin-bottom: 20px;
}

.main-content{
    padding: 10px;
    text-align: center;
}

.main-content a{
    text-decoration: underline;
    color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*FOOTER CONTENT*/
.footer{
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 700px;
}

.footer-content{
    display: flex;
    gap: 20px;
    align-items: center;
}

.footer-link{
    color: black;
    font-size: 40px;
}

.footer-content a{
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: black;
}